.App {
  text-align: center;
}
.App1 {
  border: 2px solid black;
  border-radius: 3px;
  width: 600px;
  height: 400px;
}
.Box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 120px;
  height: 100px;
  border: 2px solid black;
  background-color: yellow;
}
.red {
  background-color: red;
  color: black;
}
.green {
  background-color: green;
  color: black;
}
.black {
  background-color: black;
  color: white;
}

.photo {
  height: 200px;
  width: 400px;

}
.first {
  display: flex;
  justify-content: space-around;
}
.card{
  box-shadow: 3px 3px 5px grey;
  border: 3px solid blanchedalmond;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
